.section-title{
font-family: 'Montserrat';
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 9px;
}
.section-title_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFD700;
    margin-bottom: 75px;
}
.gallery-item_percent{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
   
    color: #FFD700;
    margin-bottom: 12px;
}
.gallery-item_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
       
    text-transform: uppercase;
    
    color: #FFFFFF;
    margin-bottom: 12px;
}
.gallery-item_population{
    font-family: 'Montserrat';
font-weight: 400;
font-size: 12px;
line-height: 18px;

color: #FFFFFF;
}
.population-value{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
        
    color: #FFD700;
}
.icon-popul{
    fill: #626464;
}
.gallery-item_diagram{
    margin-bottom: 21px;
}
.diagram-gray{
position: relative;
display: block;
width: 100px;
height: 5px;
background: #C4C4C4;
border-radius: 100px;
}
.diagram-yellow{
    position: absolute;
    display: block;
    height: 5px;
    background: #FFD700;
    border-radius: 100px;
}

@media screen and (min-width: 1920px) {
    .gallery-list{
       margin-left: -156px;
       margin-bottom: -50px;
    }
    .gallery-list > .gallery-item
    {
        flex-basis: calc((100% / 5) - 156px) ;
        margin-left: 156px;
       margin-bottom: 50px;
       
    } 
   
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .gallery-list{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin-left: -50px;
        margin-bottom: -50px;
    }
    
    .gallery-list > .gallery-item
    {
        flex-basis: calc((100% / 4) - 50px) ;
        margin-left: 50px;
       
    } 
    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .gallery-list{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin-left: -100px;
        
    }
    .gallery-list > .gallery-item
    {
        flex-basis: calc((100% / 3) - 130px);
        margin-left: 100px;
        margin-bottom: 50px;
    } 
    
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        .gallery-list{

            display: flex;
            flex-wrap: wrap;  
           justify-content: space-between;
           margin-left: -10px;
           
        }   
       .gallery-list > .gallery-item
       {
        flex-basis: calc((100% / 2) - 10px);
           margin-left: 10px;
           margin-bottom: 50px;
           
       } 
       }

.gallery-list{
     
    margin-bottom: -50px;

}

.gallery-item{
   
    margin-bottom: 50px;
}




   
   